# Ignore Next.js build output
.next

# Ignore artifacts
*.log
.DS_Store
build
coverage

# Ignore environment variable files
.env
.env.development
.env.local
.env.production
.env.test

# Ignore package and lock files
package.json
package-lock.json

# Ignore node_modules directory
node_modules

# Ignore npm debug files
npm-debug.log*
