.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  height: 200px;
  max-width: 200px;
  color: black;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  background-color: #eee;
}

@media (max-width: 600px) {
  .photo {
    width: 80%;
  }
}
